.jumbotron{
    background: yellow;
    color: black;
    margin-top: 30px;
    background-image: url("../images/banner\ hoteles2.jpg");
    background-size: cover;
}
.oferta-jumbotron{
    color: white;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 30px;
}

.card-hotel{
    flex: 1 250px;
    /*padding: 2px 0px 2px 0px;*/
    margin-top: 10px;
}
.btn-oferta{
    width: 100%;
    border-radius: 0px;    
}
.footer-address-icon{
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}