.jumbotron {
  background: #fffa19;
  color: black;
  margin-top: 30px;
  margin-bottom: 15px;
  background-image: url("../images/banner hoteles2.jpg");
  background-size: cover; }

.oferta-jumbotron {
  color: whitesmoke; }

footer {
  padding-top: 10px;
  padding-bottom: 0;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #2de41c;
  margin-top: 30px;
  margin-bottom: 0; }

.card-hotel {
  flex: 1 250px;
  /*padding: 2px 0px 2px 0px;*/
  margin-top: 10px;
  margin-bottom: 0; }

.btn-oferta {
  width: 100%;
  border-radius: 0px;
  background-color: #f1130b; }

.footer-address-icon {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 10px;
  padding-left: 0; }

.tab-content {
  padding-top: 10px;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0; }
