.jumbotron {
  background: #fffa19;
  color: black;
  margin-top: 30px;
  margin-bottom: 10px;
  background-image: url("../images/banner\ hoteles2.jpg");
  background-size: cover;
}
.oferta-jumbotron {
  color: #f1130b;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-top: 30px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 250px;
  /*padding: 2px 0px 2px 0px;*/
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-oferta {
  color: #40f30a;
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
