@yellow: #fffa19;
@green: rgb(64, 243, 10);
@red: rgb(241, 19, 11);

.margenes (@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron{
    background: @yellow;
    color: black;
    .margenes(30px, 10px);
    background-image: url("../images/banner\ hoteles2.jpg");
    background-size: cover;
}
.oferta-jumbotron{
    color: @red;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margenes(30px, 0px);
}

.card-hotel{
    flex: 1 250px;
    /*padding: 2px 0px 2px 0px;*/
    .margenes(10px, 0px);
}
.btn-oferta{
    color: @green;
    width: 100%;
    border-radius: 0px;    
}
.footer-address-icon{
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}