$yellow:#fffa19;
$white: rgb(245, 245, 245);
$black: rgb(0, 0, 0);
$green: rgb(45, 228, 28);
$red: rgb(241, 19, 11);

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
@mixin pading ($top,$rigth, $bottom,$left){
    padding-top: $top;
    padding-bottom: $bottom;
    padding-right: $rigth;
    padding-left: $left;
}

.jumbotron{
    background: $yellow;
    color: $black;
    @include margenes(30px, 15px);
    background-image: url("../images/banner\ hoteles2.jpg");
    background-size: cover;
}
.oferta-jumbotron{
    color: $white;
}

footer{
    //padding: 10px 10px 0 10px;
    @include pading(10px,10px ,0 ,10px );
    background-color: $green;
    @include margenes(30px, 0);    
}

.card-hotel{
    flex: 1 250px;
    /*padding: 2px 0px 2px 0px;*/
    @include margenes(10px, 0);   
}
.btn-oferta{
    width: 100%;
    border-radius: 0px;
    background-color: $red;    
}
.footer-address-icon{
    @include pading(0, 10px, 0, 0)

}
.tab-content{
    @include pading(10px, 0, 0, 0)
}